body {
    background: rgb(2,0,36);
    background: linear-gradient(169deg, rgba(2,0,36,1) , rgba(68,68,68,1) );
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }

.upper_margin {

    color: white;
    margin-top: 25%;
    text-align: center;
}

.extra_spacing {
    margin-top: 3%;
}

#password_text {
    color: red;
}

#refresh_button {
    display:none;
}
#invalid_warning {
    color: red;
    display:none;
}

.inline_content {
    display:inline;
}

.inline_content_text {
    display:inline;
    font-size: larger;
    margin-left: 2%;
    margin-right: 2%;
}